# general
node_modules/
uploads/
.env
.DS_Store

# React
pdf-keyword-scanner/build/

# Log dosyaları
*.log

465_Sayili_Resmi Marka Bülteni.pdf
494_Sayili_Marka_Gazetesi.pdf
Türk.pdf
Altın.pdf
Anadolu.pdf